<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}">
	<!--<link rel="stylesheet" type="text/css" href="css/loading_animation.css">-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	<script src="{{ url_for('static',filename='bower_components/jquery-typewatch/jquery.typewatch.js') }}"></script>
	<script src="{{ url_for('static',filename='scripts/script.js') }}"></script>
	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
	  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->

	<title>Screenshot Builder</title>
</head>
<body>
<!-- Loading effect
<div id="circle"></div><div id="circle1"></div>-->

<div class="container">

<div class="text-center">
	<h1>Screenshot Builder</h2>
</div>

<div class="screenshot-list">
	<ul class="list-inline">
		<li class="screenshot-item">
			<div class="screenshot-image">
				<img src="" id="result-image" />
			</div>
			<div class="screenshot-input-form">
				<div class="form-group">
					<textarea class="form-control" id="inputText" name="inputText" placeholder="Hello world!" required="required"></textarea>
				</div>
				<div class="input-group-btn screenshot-input-image-parent">
					<div class="btn btn-default screenshot-input-image">
						<span class="glyphicon glyphicon-folder-open"></span>
						<span class="screenshot-input-image-title">Browse</span>
						<form class="upload-image-form" id="imageForm" enctype="multipart/form-data">
							<input type="file" accept="image/png, image/jpeg" id="inputImage" name="inputImage" />
						</form>
					</div>
				</div>
			</div>
		</li>
		<li class="screenshot-item">
			<div class="screenshot-image">
				HAHA
			</div>
			<div class="screenshot-input-form">
				TEST
			</div>
		</li>
		<li class="screenshot-item">
			<div class="screenshot-image">
				HAHA
			</div>
			<div class="screenshot-input-form">
				TEST
			</div>
		</li>
	</ul>
</div>

<form class="form-horizontal main-form" id="mainForm" method="POST" action="/generateImage" enctype="multipart/form-data">
	<div class="form-group">
		<label for="inputPrefix" class="col-sm-2 control-label">PREFIX_NAME_ID</label>
		<div class="col-sm-10">
			<input type="text" class="form-control" id="inputPrefix" name="inputPrefix" placeholder="arefly_wordcounter_1" required="required">
		</div>
	</div>
	<!--<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<button type="submit" class="btn btn-default">Generate Image</button>
		</div>
	</div>-->
</form>

<div id="footer">
	<div class="container">
		<p class="text-center text-muted credit">By <a href="http://www.arefly.com/" title="Arefly" target="_blank">AREFLY.COM</a></p>
	</div>
</div>

</div> <!-- /container -->

</body>
</html>