body {
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: white;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	-webkit-font-smoothing: antialiased !important;
	-moz-osx-font-smoothing: grayscale !important;
}
input, button, select, textarea {
	font-family: inherit !important;
}
h1, h2, h3, h4, h5, h6 {
	font-family: inherit !important;
}




.container-fluid {
	padding-left: 0;
	padding-right: 0;
}

.list-inline {
	white-space: nowrap;
}

.screenshot-list {
	overflow-x: scroll;
	overflow-y: hidden;
	height: 100%;
	width: 100%;
	padding-top: 20px;
	padding-bottom: 20px;
	margin: auto;
	text-align: center;
	/* Workaround from http://stackoverflow.com/q/5256533/2603230 */
	font-size: 0;
}

.screenshot-item {
	border: none;
	padding-left: 0px !important;
	padding-right: 0px !important;
	width: 250px;
	/* Same workaround from http://stackoverflow.com/q/5256533/2603230 */
	font-size: 14px;
}
.screenshot-item:not(:last-child) {
	border-right: 1px solid #DAE2E6;
}


.screenshot-image {
	height: 100%;
	/*background-color: yellow;*/
}

.screenshot-image img {
	max-width: 100%;
	height: auto;
	padding-left: 20px;
	padding-right: 20px;
}


.screenshot-input-form {
	background-color: #F5F7F8;
	margin-top: 20px;
	padding: 20px;
	text-align: center;
}


textarea.input-text {
	resize: vertical;
}


.screenshot-input-image-parent {

}

.screenshot-input-image {
	position: relative;
	overflow: hidden;
	margin: 0px;
	color: #333;
	background-color: #fff;
	border-color: #ccc;
	border-radius: 4px !important;
}

.screenshot-input-image input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}

.screenshot-input-image-title {
	margin-left: 2px;
}