body {
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: #eee;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	-webkit-font-smoothing: antialiased !important;
	-moz-osx-font-smoothing: grayscale !important;
}
input, button, select, textarea {
	font-family: inherit !important;
}
h1, h2, h3, h4, h5, h6 {
	font-family: inherit !important;
}



.list-inline {
	white-space: nowrap;
}

.screenshot-list {
	overflow-x: scroll;
	overflow-y: hidden;
	height: 100%;
	width: 90%;
	padding-top: 20px;
	padding-bottom: 20px;
	margin: auto;
	text-align: center;
}

.screenshot-item {
	border: 1px solid black;
	margin-left: 15px;
	margin-right: 15px;
	width: 200px;
	/*border: none;*/
}

.screenshot-image {
	height: 100%;
	background-color: yellow;
}

.screenshot-image img {
	max-width: 100%;
	height: auto;
}


.screenshot-input-form {
	margin-top: 20px;
	height: 100px;
	background-color: red;
	text-align: center;
}

.screenshot-input-image-parent {

}

.screenshot-input-image {
	position: relative;
	overflow: hidden;
	margin: 0px;
	color: #333;
	background-color: #fff;
	border-color: #ccc;
	border-radius: 4px !important;
}

.screenshot-input-image input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}

.screenshot-input-image-title {
	margin-left: 2px;
}